.jXurFV {
    flex: 1 1 0%;
}

.iOhDoD .heading {
    font-size: 19px;
    line-height: 21px;
    margin: 20px 0px 15px;
    color: black;
    text-align: center;
}

.iOhDoD .inner {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 0px 30px 0px;
    min-height: 400px;
}

.iOhDoD table {
    border-collapse: collapse;
    width: 100%;
    word-break: break-word;
}

.iOhDoD tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.iOhDoD th,
.iOhDoD td {
    min-width: 130px;
    padding: 20px 15px;
    color: #080808;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}